{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@constants": "./src/constants",
          "@contexts": "./src/contexts",
          "@components": "./src/components",
          "@utils": "./src/utils",
          "@screens": "./src/screens",
          "@hooks": "./src/hooks",
          "@navigation": "./src/navigation",
          "@service": "./src/service",
          "@assets": "./src/assets",
          "@images": "./src/assets/images",
          "@icons": "./src/assets/icons"
        }
      }
    ]
  ]
}
